.prediction-1 {
    color: blue;
}
.prediction-2 {
    color: blue;
}
.prediction-3 {
    color: blue;
}
.prediction-4 {
    color: blue;
}
.prediction-5 {
    color: blue;
}
.prediction-6 {
    color: blue;
}
.prediction-7  {
    color: blue;
}