$mainWhite: #d8ddef;
$backgroundColour: #2c2d38;

$copyFont:'IM Fell Double Pica', serif;
$displayFont: 'Milonga', serif;

$answerBeforeElementMarginBottom: 5%;


//GOOGLE FONTS

  // font-family: 'Barrio', cursive;
  // font-family: 'Chelsea Market', cursive;
  // font-family: 'Diplomata SC', cursive;
  // font-family: 'Dynalight', cursive;
  // font-family: 'IM Fell DW Pica', serif;
  // font-family: 'IM Fell English', serif;
  // font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Kranky', cursive;
  // font-family: 'Mate', serif;
  // font-family: 'Miniver', cursive;
  // font-family: 'Rye', cursive;
  // font-family: 'Seaweed Script', cursive;
  // font-family: 'Milonga', cursive;
  // font-family: 'IM Fell Double Pica', serif;


